body {
    padding: 10px;
}


textarea {
    height: 30vh;
}

textarea, .right-div {
    width: 40%;
}

/* flex */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
    margin-bottom: 5px;
}

.flex-container > div{
    padding: 5px;
    width: 300px;
    height: 200px;
}

.image-flex-container{
    display: flex;
    justify-content: center;
}

.flex-container > div > img{
    width: 100%;
}


.flex-container a{
    color: black;
}