{% extends 'auctions/layout.html' %}

{% block title %}
    Auctions: create listing
{% endblock %}

{% block body %}
    <h2>Create listing</h2>
    <form action="{% url 'create-listing' %}" method="post">
        {% csrf_token %}
        <div>
            <input required name="title" type="text" maxlength="50" placeholder="Title">
        </div>
        <div>
            <textarea required name="description" maxlength="1000" placeholder="Description"></textarea>
        </div>
        <div>
            <input required name="start_cost" type="number" min="0" max="999999999" placeholder="Start cost">
        </div>
        <div>
            <input name="pic_url" type="url" maxlength="250" placeholder="picture url">
        </div>
        <div>
            <select name="category">
                {% for category in categories %}
                    <option value="{{ category }}">{{category}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="right-div">
            <input type="submit" value="create" class="btn btn-primary">
        </div>
    </form>
{% endblock %}
